.toTheRightTop{
    position:absolute;
    top:0;
    right:0;
    display: flex;
   justify-content: space-between;
   max-width: 400px;
   margin: 0 auto;
   padding: 10px 0;
   background-color:#e7e5e53d;
   }
   a {
     width: 115px;
   height: 10px;
   color : black;
   font-size: 14px;
     text-decoration: none;
   }
   .centerElements {
     text-align: center;
   }
   .roundedSearchBox{
     padding: 10px;
     margin: 10px;
     height: 20px;
     width: 500px;
     border:1px solid #dddcdc;
     outline:none;
     border-radius: 15px;
 }
 .advancedTextBox{
    padding: 9px;
    margin: 14px;
    height: 10px;
    width: 300px;
    border:1px solid #dddcdc;
    outline:none;
}
 .roundedButtons{
     padding: 10px;
     margin: 10px;
     height: 35px;
     width: 150px;
     border:1px ;
     outline:none;
     background-color: #e7e5e53d;
     border-radius: 5px;
 }
 .tip{
     font-size: 12px;
 }
 #advancedSearch{
     margin-left: 390px;
     background-color:#4b8efa;
     color:white;
     height:30px;
     border:0;
 }
 input:hover{
     border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
 }
 input:focus{
     border-color:#4d90fe;
 }